<h1>New Entry</h1>

 <form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <div class="mb-3">
    <label for="title_input" class="form-label">Title</label>
    <input type="text" name="title" id="title_input" class="form-control">
  </div>

  <div class="mb-3">
    <label for="uploaded_image_input" class="form-label">Upload Image</label>
    <input type="file" name="uploaded_image" id="uploaded_image_input" class="form-control">
  </div>
  
  <p>
    <label for="description_input" class="form-label">Description</label>
    <input type="text" name="description" id="description_input" class="form-control">
  </p>

  <p>
    <label for="occurred_on_input">Occurred On</label>
    <input type="date" name="occurred_on" id="occurred_on_input">
  </p>

  <button class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-light"><a href="/places">Cancel</a></button>
 </form>
