<h1>New User Account</h1>

<form action="/users" method="post">
 <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username_input", class="form-control">
 </div>
  <p>
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" id="email_input", class="form-control">
  </p>
  <p>
    <label for="password_input" class="form-label">Password</label>
    <input type="password" name="password" id="password_input", class="form-control">
  </p>
  <button class="btn btn-primary">Signup</button>
  <button type="button" class="btn btn-light"><a href="/places">Cancel</a></button>
</form>
