<h1>Places</h1>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<a href="/places/new" class="btn btn-primary" role="button">New Place</a>

