<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name_input" class="form-label">Name</label>
    <input type="text" name="name" id="name_input" class="form-control">
  </p>

  <button class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-light"><a href="/places">Cancel</a></button>
</form>